<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LufyTech DashBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link type="text/css" href="/assets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse"
             data-target="#navbarCollapse">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <a href="" class="navbar-brand">StarHotels</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/StaHotel" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/StaHotel#menu" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="/myOrder" class="nav-link">My Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
