<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaHotel.com</title>
    <link type="text/css" href="/assets/style.css" rel="stylesheet">
     <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    
</head>

<body>
    
        <% include header.ejs %>
        <h1 id="form">Form</h1>
    <section class="main">
        </section>
    <section></section>
</body>
    <script src="/assets/script.js"></script>
   
</html>