<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LufyTech DashBoard</title>
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">--> 
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--  <header id="back">
            <div>StaHotel</div>
            <nav>
                <ul>
                    <li class="active home"><a href="/StaHotel"  >Home</a></li>
                    <li class="nmenu"><a href="/StaHotel#menu">Menu</a></li>
                    <li class="myOrders"><a href="/myOrder">My Orders</a></li>
                </ul>
            </nav>
        </header>
        
        -->
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse"
             data-target="#navbarCollapse">
                <span class="navbar-toggler-icon">

                </span>
            </button>

            <a href="" class="navbar-brand">StarHotels</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/StaHotel" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/StaHotel#menu" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="/myOrder" class="nav-link">My Orders</a>
                    </li>
               
                </ul>
            </div>
        </div>
    </nav>
    
      
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/navbar-fixed.js"></script>
