   <header id="back">
            <div>StaHotel</div>
            <nav>
                <ul>
                    <li class="active home"><a href="/StaHotel"  >Home</a></li>
                    <li class="nmenu"><a href="/StaHotel#menu">Menu</a></li>
                    <li class="myOrders"><a href="/myOrder">My Orders</a></li>
                </ul>
            </nav>
        </header>