   <header id="back">
            <div>StaHotel</div>
            <nav>
                <ul>
                    <li class="active home"><a href="#"  >Home</a></li>
                    <li class="nmenu"><a href="#menu">Menu</a></li>
                    <li><a href="#">My Orders</a></li>
                </ul>
            </nav>
        </header>