<% include ./partials/header.ejs %>
        
<section class="main"></section>
    
<div class="welcome"><h2>WELCOME</h2>
    <h3>Are You Hungry Enough?</h3></div>
    <section class="menu" >        
        <h3 id="menu">MENU</h3>
        <div class="menu-items">
            <ul>
                <li>
                    <h4>Burger</h4>
                    <p>lorem ipsum</p>
                </li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
            </ul>
        </div>
    </section>
    <button id="button" ><a href="/Form">Place Your Order</a></button>

<% include ./partials/footer.ejs %>