<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaHotel.com</title>
    <link type="text/css" href="/assets/style.css" rel="stylesheet">
     <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    
</head>

<body>
    
        <% include header.ejs %>
        <section class="main">
        </section>
    <div class="welcome"><h2>WELCOME</h2>
    <h3>Are You Hungry Enough?</h3></div>
    <section class="menu" >
        
        <h3 id="menu">MENU</h3>
        <div class="menu-items">
            <ul>
                <li>
                    <h4>Burger</h4>
                    <p>lorem ipsum</p>
                </li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
                <li><h4>Burger</h4>
                    <p>lorem ipsum</p></li>
            </ul>
        </div>

        </section>
    <button id="button"><a href="#">Place Your Order</a></button>
</body>
    <script src="/assets/script.js"></script>
   
</html>
